@section AddToHead{
    <base href="~/Scripts/app/"/>
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" />
}
<div ng-app="mangaReader">

    <div ui-view></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/app/module.js")
    @Scripts.Render("~/Scripts/app/routes.js")
    @Scripts.Render("~/Scripts/app/components/shared/appSettings.js")
    @Scripts.Render("~/Scripts/app/components/shared/mangaModel.js")
    @Scripts.Render("~/Scripts/app/components/shared/mangaService.js")
    @Scripts.Render("~/Scripts/app/components/home/mangaListDirective.js")
    @Scripts.Render("~/Scripts/app/components/home/homeController.js")
    @Scripts.Render("~/Scripts/app/components/viewer/mangaViewerController.js")
    @Scripts.Render("~/Scripts/app/components/viewer/pageNavigationDirective.js")

}