@section AddToHead{
    <base href="~/Scripts/app/"/>
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" />
}

<div ng-app="mangaReader" class="container app-view" ui-view autoscroll="true"></div>


@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/app/module.js")
    @Scripts.Render("~/Scripts/app/routes.js")
    @Scripts.Render("~/Scripts/app/shared/appSettings.js")
    @Scripts.Render("~/Scripts/app/shared/mangaModel.js")
    @Scripts.Render("~/Scripts/app/shared/mangaService.js")
    @Scripts.Render("~/Scripts/app/home/mangaListDirective.js")
    @Scripts.Render("~/Scripts/app/home/homeController.js")
    @Scripts.Render("~/Scripts/app/viewer/mangaViewerController.js")
    @Scripts.Render("~/Scripts/app/viewer/pageNavigationDirective.js")
    @Scripts.Render("~/Scripts/app/details/mangaDetailsController.js")
}