@section AddToHead{
    <base href="~/Scripts/app/" />
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" />
}

<div ng-app="mangaReader" class="app-view">
    <div class="navbar app-nav">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home()">Home</a></li>
            <li><a ui-sref="artists()">Artists</a></li>
            <li><a ui-sref="series()">Series</a></li>
            <li><a ui-sref="tags()">Tags</a></li>
        </ul>
        <ul class="nav navbar-right">
            <li><search-bar></search-bar></li>

        </ul>
    </div>
    <ui-view autoscroll="true"></ui-view>
</div>


@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/app/module.js")
    @Scripts.Render("~/Scripts/app/routes.js")
    @Scripts.Render("~/Scripts/app/shared/appSettings.js")
    @Scripts.Render("~/Scripts/app/shared/mangaModel.js")
    @Scripts.Render("~/Scripts/app/shared/mangaService.js")
    @Scripts.Render("~/Scripts/app/shared/mangaGalleryDirective.js")
    @Scripts.Render("~/Scripts/app/shared/artistsService.js")
    @Scripts.Render("~/Scripts/app/shared/seriesService.js")
    @Scripts.Render("~/Scripts/app/shared/tagsService.js")
    @Scripts.Render("~/Scripts/app/home/homeController.js")
    @Scripts.Render("~/Scripts/app/viewer/mangaViewerController.js")
    @Scripts.Render("~/Scripts/app/viewer/pageNavigationDirective.js")
    @Scripts.Render("~/Scripts/app/details/mangaDetailsController.js")
    @Scripts.Render("~/Scripts/app/artists/artistsController.js")
    @Scripts.Render("~/Scripts/app/artists/mangaByArtistController.js")
    @Scripts.Render("~/Scripts/app/series/seriesController.js")
    @Scripts.Render("~/Scripts/app/series/mangaBySeriesController.js")
    @Scripts.Render("~/Scripts/app/tags/tagsController.js")
    @Scripts.Render("~/Scripts/app/tags/mangaByTagController.js")
    @Scripts.Render("~/Scripts/app/search/searchController.js")
    @Scripts.Render("~/Scripts/app/search/searchBarDirective.js")
}